<div id="<%= dom_id contum %>">
  <p>
    <strong>Nome:</strong>
    <%= contum.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= contum.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= contum.valor %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= contum.data_vencimento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= contum.status %>
  </p>

</div>
