<div id="<%= dom_id contas %>">
  <p>
    <strong>Nome empresa:</strong>
    <%= contas.nome_empresa %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= contas.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= contas.valor %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= contas.data_vencimento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= contas.status %>
  </p>

</div>
