<p style="color: green"><%= notice %></p>

<%= render @conta %>

<div>
  <%= link_to "Edit this contas", edit_conta_path(@conta) %> |
  <%= link_to "Back to contas", contas_index_path %>

  <%= button_to "Destroy this contas", @conta, method: :delete %>
</div>
